<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="./css/main.css">
    <script src="/public/script.js"></script>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header id="header">
        <div class="inner_header">
            <h1 class="logo">
                <a href="http://yn0000.shop">
                    <img id="logo_img" src="/img/logo_img.gif" alt="로고">
                </a>
            </h1>

            <div id="menu">
                <ul class="menu_ul">
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">인터뷰작성</a></li>
                </ul>
                <ul id="second_menu" class="menu_ul">
                    <li><a href="#">브랜딩</a></li>
                    <li><a href="#">로고디자인</a></li>
                    <li><a href="#">네이밍</a></li>
                    <li><a href="#">편집디자인</a></li>
                    <li><a href="/homepage">홈페이지</a></li>

                </ul>
                <ul id="third_menu" class="menu_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">후기</a></li>

                </ul>
            </div>
            <!-- 파일다운로드 -->
            <a id="file_download" href="/txt/server.txt" target="_blank" download="server.txt">회사소개서 다운</a>

            <div class="tel_no">
                <div>
                    <p>1544-1234</p>
                    <p>평일 9-6시 (점심 01:00 - 2시)</p>
                </div>
            </div>
            <div class="info_box">
                <p>우리 1005-000-000000</p>
                <p>(주)디자인오브</p>
                <p>brand@brand.co.kr</p>
            </div>
            <% if(displayname){ %>
                <ul id="and_page">
                    <li><a id="login_logout" href="/logout">LOGOUT</a></li>
                    <li><a href="/cart">CART</a></li>
                    <li><a href="#">MYPAGE</a></li>
                </ul>
                <!-- <div id ="loginUser" class="">
                
                    <p id="userN"><%= displayname %>님</p>
                </div> -->
                <% }else{ %>
                    <ul id="and_page">
                        <li><a id="login_logout" href="/login">LOGIN</a></li>
                        <li><a href="/join">JOIN</a></li>
                        <li><a href="/cart">CART</a></li>
                        <li><a href="#">MYPAGE</a></li>
                    </ul>
                    <% } %>


        </div>

        <button id="menu-trigger" type="button" class="">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div id="ham_inner_header" class="invisible">
            <h1 class="ham_logo">
                <a href="http://yn0000.shop">
                    <img id="logo_img" src="/img/logo_img.gif" alt="로고">
                </a>
            </h1>

            <div id="menu">
                <ul class="menu_ul">
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">인터뷰작성</a></li>
                </ul>
                <ul id="second_menu" class="menu_ul">
                    <li><a href="#">브랜딩</a></li>
                    <li><a href="#">로고디자인</a></li>
                    <li><a href="#">네이밍</a></li>
                    <li><a href="#">편집디자인</a></li>
                    <li><a href="/homepage">홈페이지</a></li>

                </ul>
                <ul id="third_menu" class="menu_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">후기</a></li>

                </ul>
            </div>
            <% if(displayname){ %>
                <ul id="and_page">
                    <li><a id="login_logout" href="/logout">LOGOUT</a></li>
                    <li><a href="#">CART</a></li>
                    <li><a href="#">MYPAGE</a></li>
                </ul>
                <!-- <div id ="loginUser" class="">
                    
                        <p id="userN"><%= displayname %>님</p>
                    </div> -->
                <% }else{ %>
                    <ul id="and_page">
                        <li><a id="login_logout" href="/login">LOGIN</a></li>
                        <li><a href="/join">JOIN</a></li>
                        <li><a href="/cart">CART</a></li>
                        <li><a href="#">MYPAGE</a></li>
                    </ul>
                    <% } %>
    </header>


    <section id="homepageSection">
        <div id="list_div">
            <div id="inner_list_div">
                <form action="/shopping" method="post">
                    <ul>
                        <% sendData.forEach(function (value) { %>

                            <li>
                                <p>
                                    <%=value.goods_name%>
                                </p>
                                <p><span>
                                        <%=value.goods_price%>
                                    </span>원</p>
                                <p>
                                    <%=value.goods_number%>개
                                </p>
                                <p>
                                    <% let total = value.goods_price * value.goods_number%>
                                    합계<%=total %>원
                                </p>

                            </li>

                            <% }); %>
                    </ul>
                </form>
            </div>
        </div>
        <script>

        </script>

    </section>

    <script>
        $('#menu-trigger').on('click', function (e) {
            {
                // e.preventDefault();
                const $hamburgerMenu = document.getElementById('ham_inner_header');
                if ($hamburgerMenu.className === "invisible") {
                    $hamburgerMenu.className = "visible";
                    $hamburgerMenu.style.opacity = "1";
                    $hamburgerMenu.style.zIndex = "1000";
                    $hamburgerMenu.style.width = "220px";
                    // $hamburgerMenu.style.width = '220px';

                } else {
                    $hamburgerMenu.className = "invisible";
                }
                // $hamburgerMenu.classList.toggle = "invisible";
                // $hamburgerMenu.style.display="inline-block";

            }
        })
    </script>
</body>

</html>