<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="./css/main.css">
    <script src="/public/script.js"></script>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header id="header">
        <div class="inner_header">
            <h1 class="logo">
                <a href="http://yn0000.shop">
                    <img id="logo_img" src="/img/logo_img.gif" alt="로고">
                </a>
            </h1>

            <div id="menu">
                <ul class="menu_ul">
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">인터뷰작성</a></li>
                </ul>
                <ul id="second_menu" class="menu_ul">
                    <li><a href="#">브랜딩</a></li>
                    <li><a href="#">로고디자인</a></li>
                    <li><a href="#">네이밍</a></li>
                    <li><a href="#">편집디자인</a></li>
                    <li><a href="/homepage">홈페이지</a></li>

                </ul>
                <ul id="third_menu" class="menu_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">후기</a></li>

                </ul>
            </div>
            <!-- 파일다운로드 -->
            <a id="file_download" href="/txt/server.txt" target="_blank" download="server.txt">회사소개서 다운</a>

            <div class="tel_no">
                <div>
                    <p>1544-1234</p>
                    <p>평일 9-6시 (점심 01:00 - 2시)</p>
                </div>
            </div>
            <div class="info_box">
                <p>우리 1005-000-000000</p>
                <p>(주)디자인오브</p>
                <p>brand@brand.co.kr</p>
            </div>
            <% if(displayname){ %>
            <ul id="and_page">
                <li><a id="login_logout" href="/logout">LOGOUT</a></li>
                <li><a href="/cart">CART</a></li>
                <li><a href="#">MYPAGE</a></li>
            </ul>
            <!-- <div id ="loginUser" class="">
                
                    <p id="userN"><%= displayname %>님</p>
                </div> -->
                <% }else{ %>
                    <ul id="and_page">
                        <li><a id="login_logout" href="/login">LOGIN</a></li>
                        <li><a href="/join">JOIN</a></li>
                        <li><a href="/cart">CART</a></li>
                        <li><a href="#">MYPAGE</a></li>
                    </ul>
                <% } %>
            

        </div>

        <button id="menu-trigger" type="button" class="">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div id="ham_inner_header" class="invisible">
            <h1 class="ham_logo">
                <a href="http://yn0000.shop">
                    <img id="logo_img" src="/img/logo_img.gif" alt="로고">
                </a>
            </h1>

            <div id="menu">
                <ul class="menu_ul">
                    <li><a href="#">포트폴리오</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">인터뷰작성</a></li>
                </ul>
                <ul id="second_menu" class="menu_ul">
                    <li><a href="#">브랜딩</a></li>
                    <li><a href="#">로고디자인</a></li>
                    <li><a href="#">네이밍</a></li>
                    <li><a href="#">편집디자인</a></li>
                    <li><a href="/homepage">홈페이지</a></li>

                </ul>
                <ul id="third_menu" class="menu_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">후기</a></li>

                </ul>
            </div>
            <% if(displayname){ %>
                <ul id="and_page">
                    <li><a id="login_logout" href="/logout">LOGOUT</a></li>
                    <li><a href="#">CART</a></li>
                    <li><a href="#">MYPAGE</a></li>
                </ul>
                <!-- <div id ="loginUser" class="">
                    
                        <p id="userN"><%= displayname %>님</p>
                    </div> -->
                    <% }else{ %>
                        <ul id="and_page">
                            <li><a id="login_logout" href="/login">LOGIN</a></li>
                            <li><a href="/join">JOIN</a></li>
                            <li><a href="/cart">CART</a></li>
                            <li><a href="#">MYPAGE</a></li>
                        </ul>
                    <% } %>
    </header>


    <section id="homepageSection">
        <div id="list_div">
            <div id="inner_list_div">
                <form action="/shopping" method="post">
                    <ul>
                        <li id="kimchi"><img src="/img/kimchi.jpg">
                            <p>김치라면</p>
                            <p><span>1000</span>원</p><input class="inputNum" type="text" placeholder="수량"><button
                                class="cartButton" type="button">담기</button>
                        </li>
                        <li id="king"><img src="/img/king.jpg">
                            <p>왕뚜껑</p>
                            <p><span>1200</span>원</p><input class="inputNum" type="text" placeholder="수량"><button
                                class="cartButton" type="button">담기</button>
                        </li>
                        <li id="moo"><img src="/img/moo.jpg">
                            <p>무파마</p>
                            <p><span>1300</span>원</p><input class="inputNum" type="text" placeholder="수량"><button
                                class="cartButton" type="button">담기</button>
                        </li>
                        <li id="neoguri"><img src="/img/neoguri.jpg">
                            <p>너구리</p>
                            <p><span>1400</span>원</p><input class="inputNum" type="text" placeholder="수량"><button
                                class="cartButton" type="button">담기</button>
                        </li>
                        <li id="sin"><img src="/img/sin.jpg">
                            <p>신라면</p>
                            <p><span>1500</span>원</p><input class="inputNum" type="text" placeholder="수량"><button
                                class="cartButton" type="button">담기</button>
                        </li>
                        <li id="zzapa"><img src="/img/zzapa.jpg">
                            <p>짜파구리</p>
                            <p><span>1600</span>원</p><input class="inputNum" type="text" placeholder="수량"><button
                                class="cartButton" type="button">담기</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <script>


            $('.cartButton').on('click', function (e) {

                // console.log("cartbutton click!");
                // console.log(e.target.parentElement.id);
                // console.log(e.target.previousSibling.value);
                // console.log(e.target.previousSibling.previousSibling);
                let p = e.target.previousSibling.previousSibling;
                let span = p.querySelector('span');
                let price = span.textContent;

                // console.log(price, "price!!!");
                // console.log(e.target.previousSibling.value * price);
                console.log('<%=displayname%>');

                var param = {}
                if ('<%=displayname%>'.length > 0) {
                    param = {
                        "name": '<%=displayname%>',
                        "goodsName": e.target.parentElement.id,
                        "number": e.target.previousSibling.value,
                        "price":price

                    }
                }else{

                    param = {
                        "name": 'cookie..?',
                        "goodsName": e.target.parentElement.id,
                        "number": e.target.previousSibling.value,
                        "price": price

                    }

                }
                console.log(param);
                $.ajax({
                    type: "post",
                    url: "/shopping",
                    data: param,
                    async: false,
                    success: function (data) {
                        if(data === '200'){
                        console.log(data,"data!!!");

                        alert('장바구니에 등록되었습니다.');
                        }
                        else {
                            alert(data);
                        }
                    },
                    error: function (e) {
                        
                        alert(e.reponseText);
                    }
                });




            })


    $('#menu-trigger').on('click', function (e) {
        {
            // e.preventDefault();
            const $hamburgerMenu = document.getElementById('ham_inner_header');
            if ($hamburgerMenu.className === "invisible") {
                $hamburgerMenu.className = "visible";
                $hamburgerMenu.style.opacity = "1";
                // $hamburgerMenu.style.width = '220px';

            } else {
                $hamburgerMenu.className = "invisible";
            }
            // $hamburgerMenu.classList.toggle = "invisible";
            // $hamburgerMenu.style.display="inline-block";

        }
    })
        </script>

    </section>

</body>

</html>